<div class="container">
	{{#if anime}}
	<form action="/admin/anime/editar" method="POST">
		{{else}}
		<form action="/admin/anime/salvar" method="POST">
			{{/if}}
			<input type="hidden" name="id" value="{{anime._id}}">
			<div class="form-group row">
				<label for="Nome" class="col-md-1 col-sm-2 ">Nome</label>
				<div class="col-md-4 mb-md-0 mb-3">
					<input type="text" class="form-control" name="nome" value="{{anime.nome}}" placeholder="Nome" />
				</div>
				<div class="col-md-5">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">Url</div>
						</div>
						<input type="text" class="form-control" name="capa" value="{{anime.capa}}"
							placeholder="url da imagem" />
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-10">
					<input type="text" class="form-control" name="descricao" value="{{anime.descricao}}"
						placeholder="descricao" />
				</div>
			</div>
			<!-- CATEGORIAS -->
			<div class="form-group row">
				<label for="categoria" class="col-md-1 col-sm-2 mr-2">Categoria</label>
				<div class="col-md-3 col-sm-3">
					<select name="categoria" class="custom-select">
						{{#each categorias}}
							{{#ifEquals _id ../anime.categoria._id}}
								<option value="{{_id}}" selected>{{nome}}</option>
							{{else}}
								<option value="{{_id}}">{{nome}}</option>
							{{/ifEquals}}
						{{/each}}
					</select>
				</div>

				<label for="status" class="col-md-1 col-sm-1 mr-2">Status</label>
				<div class="col-md-3 col-sm-4 mb-3">
					<select name="status" class="custom-select">
						<option value="andamento" {{#ifEquals anime.status 'andamento'}}selected{{/ifEquals}}>Em
							andamento</option>
						<option value="completo" {{#ifEquals anime.status 'completo'}}selected{{/ifEquals}}>Completo
						</option>
					</select>
				</div>
				<div class="col-md-2">
					<input type="number" class="form-control" value="{{anime.views}}" name="views"
						placeholder="views" />
				</div>

			</div>

			<div class="row col-md-4 mt-3">
				{{#if anime}}
				<button type="submit" class="btn btn-success">Editar</button>
				{{else}}
				<button type="submit" class="btn btn-info">Salvar</button>
				{{/if}}
			</div>
		</form>
</div>