{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{/each}}

<p>We need to reverse the word "palindrome": {{reversedWord "palindrome"}}.</p>

<p>{{postagem.categoria._id}}</p>
<div class="card">
	<div class="card-body">
		<form action="/admin/postagem/edit" method="POST">
			<input type="hidden" name="id" value="{{postagem._id}}">
			<label for="titulo">Titulo: </label>
			<input type="text" name="titulo" value="{{postagem.titulo}}" class="form-control">
			<label for="slug">Slug: </label>
			<input type="text" name="slug" value="{{postagem.slug}}" class="form-control">
			<label for="slug">Descricao: </label>
			<input type="text" name="descricao" value="{{postagem.descricao}}" class="form-control">

			<label for="conteudo">Conteúdo: </label>
			<textarea name="conteudo" class="form-control">{{postagem.conteudo}}</textarea>
			<label for="categoria">Categoria: </label>
			<select name="categoria" class="custom-select">
				<!-- <option value="{{_id}}">{{postagem.categoria.nome}}</option> -->
				{{#each categorias}}
				<option value="{{_id}}">{{nome}} {{_id}}</option>
				{{else}}
				<option value="0">Sem categorias</option>
				{{/each}}
			</select>
			<button class="btn btn-success mt-2" type="submit">Editar postagem</button>
		</form>
	</div>
</div>